body{
    margin:0px;
}
ul{
    padding-inline-start: 1px;
    position: absolute;
    float : left;
    
}
li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
    width:200;
   
}
p{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman';
    
    padding-top: 1px;
    display:block;
   
}

.vertical { 
    border-left: 1px solid gray; 
    height: 325px; 
    padding-right: 10px;
    width:auto;
       
} 
figure-caption{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}